
# Définition des types MIME
AddType application/javascript .js
AddType application/javascript .mjs

# Force PHP pour tous les fichiers .php
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Activer le moteur PHP s'il est disponible
<IfModule mod_php.c>
    php_flag engine on
</IfModule>

# Support pour FastCGI
<IfModule mod_fcgid.c>
    <FilesMatch "\.php$">
        SetHandler fcgid-script
    </FilesMatch>
</IfModule>

# Configuration spécifique pour le Service Worker
<Files "sync-service-worker.js">
  Header set Content-Type "application/javascript"
  Header set Service-Worker-Allowed "/"
  Header set X-Content-Type-Options "nosniff"
</Files>

# En-têtes de cache pour les assets statiques
<FilesMatch "\.(js|mjs|css)$">
  Header set Cache-Control "max-age=31536000, public"
  Header set X-Content-Type-Options "nosniff"
</FilesMatch>

# Autoriser l'accès aux fichiers
<Files *>
  Order Allow,Deny
  Allow from all
</Files>
