
# Empêcher le listage des répertoires
Options -Indexes

# Refuser l'accès à tous les fichiers par défaut
<FilesMatch "^.*$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Autoriser l'accès uniquement à index.php
<FilesMatch "^index\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Rediriger les demandes de répertoire vers l'API principale
DirectoryIndex index.php

# Si l'utilisateur essaie d'accéder directement au répertoire
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ ../index.php [L]
